{
	auto_https off
	admin off
}

:80 {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp
	}

	encode gzip zstd

	# Handles Recipe Images / Assets
	handle_path /api/media/recipes/* {
		header @static Cache-Control max-age=31536000
		root * /app/data/recipes/
		file_server
	}

	handle /api/* {
		uri strip_suffix /
		reverse_proxy backend:9000
	}

	handle {
		header @static Cache-Control max-age=31536000
		root * /app/dist
		try_files {path}.html {path} /
		file_server
	}
}
